<h1 class="text-3xl">Listado de pokemons</h1>
<h2 class="text-xl">pagina actual: {{currentPage()}}</h2>

<hr class="my-2">

<!-- TODO: pokemon list -->
 @if (pokemons()) {
   <app-pokemon-list-skeleton></app-pokemon-list-skeleton>
  }@else {
    <app-pokemon-list [pokemons]="pokemons()" ></app-pokemon-list>
  }
<!-- TODO: pokemon list skeleton -->

<!-- TODO: paginacion boton siguiente y anterior -->
<div class="flex justify-between">
  <button (click)="loadPage(-1)" class="mt-2">Anterior</button>
  <button (click)="loadPage(+1)" class="mt-2">Siguiente</button>
</div>
